In [1]:
import pandas as pd
import numpy as np
#from movienet import MovieNet

In [ ]:
from autoencoder import *

In [ ]:
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [ ]:
ratings=pd.read_csv('ratings1.csv')

In [ ]:
ratings.head()

In [ ]:
ratings.shape

In [ ]:
print(f"full dataset:\nnumber users {int(ratings.userId.nunique())}, number movies {int(ratings.movieId.nunique())}")

In [ ]:
u_uniq = ratings.userId.unique()
user2idx = {o:i for i,o in enumerate(u_uniq)}
ratings.userId = ratings.userId.apply(lambda x: user2idx[x])

m_uniq = ratings.movieId.unique()
movie2idx = {o:i for i,o in enumerate(m_uniq)}
ratings.movieId = ratings.movieId.apply(lambda x: movie2idx[x])

In [ ]:
n_users=int(ratings.userId.nunique())
n_movies=int(ratings.movieId.nunique())
n_factors = 100
print(f"number users: {n_users}, number movies {n_movies}")

In [ ]:
min_rating,max_rating = ratings.rating.min(),ratings.rating.max()

In [ ]:
x = ratings.drop(['rating', 'timestamp'],axis=1)
y = ratings['rating'].astype(np.float32)

In [ ]:
x.head()

In [ ]:
y.head()

In [ ]:
ratings_final=ratings.drop(['timestamp'],axis=1)
ratings_final=ratings_final.astype({"rating": np.float32})
ratings_final.head()

In [ ]:
def dataPreprocessor(rating_df, num_users, num_items, init_value=0, average=False):
    """
        INPUT: 
            data: pandas DataFrame. columns=['userID', 'itemID', 'rating' ...]
            num_row: int. number of users
            num_col: int. number of items
            
        OUTPUT:
            matrix: 2D numpy array. 
    """
    matrix = np.zeros((num_users, num_items),dtype='float32')
    for (_, userID, itemID, rating) in rating_df.itertuples():
        matrix[userID, itemID] = rating

    return matrix

In [ ]:
new_data=dataPreprocessor(ratings_final, n_users,n_movies)

In [ ]:
ratings_final=ratings_final.astype({"rating": np.float32})

In [ ]:
new_data

In [ ]:
new_df=pd.DataFrame(new_data)

In [ ]:
new_df.head()

In [ ]:
new_df.to_pickle('new_df_matrix.pkl')

In [ ]:
ae = AutoEncoder(new_df, validation_perc=0.05, lr=0.5, intermediate_size=50, encoded_size=10)

In [ ]:
ae.train_loop(epochs=20)

In [ ]:
losses = pd.DataFrame(data=list(zip(ae.train_losses, ae.val_losses)), columns=['train_loss', 'validation_loss'])
losses['epoch'] = (losses.index + 1) / 3

In [ ]:
fig, ax = plt.subplots()
ax.plot(losses['epoch'], losses['train_loss'])
ax.plot(losses['epoch'], losses['validation_loss'])
ax.set_ylabel('MSE loss')
ax.set_xlabel('epoch')
ax.set_title('autoencoder loss over time')
ax.legend()

In [ ]:
encoded = ae.get_encoded_representations()

In [ ]:
encoded.shape

In [ ]:
encoded

In [ ]:
y=pd.read_csv('movies.csv')
y.head()

In [91]:
#collaborative_embeddings = pd.read_pickle("autoencoder_embeddings (1).pkl")
#collaborative_embeddings = pd.read_pickle("autoencodercoll42_embeddings.pkl")
#collaborative_embeddings = pd.read_pickle("autoencodercoll_embeddings2.pkl")
collaborative_embeddings = pd.read_pickle("autoencodercolln_embeddings.pkl")
print(collaborative_embeddings.shape)
collaborative_embeddings= pd.DataFrame(collaborative_embeddings)
collaborative_embeddings.head()

(10677, 100)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.0,0.0,0.412255,0.0,0.000000,0.0,0.0,0.154076,0.000000,0.257120,...,1.673705,0.0,0.0,0.0,1.197119,0.0,0.0,0.000000,2.323226,0.0
1,0.0,0.0,1.543272,0.0,2.818511,0.0,0.0,0.000000,0.703664,2.160406,...,5.061376,0.0,0.0,0.0,4.918608,0.0,0.0,0.000000,2.754534,0.0
2,0.0,0.0,4.433138,0.0,4.809015,0.0,0.0,0.000000,0.000000,0.000000,...,9.035736,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0
3,0.0,0.0,0.567439,0.0,3.398583,0.0,0.0,0.000000,1.712569,3.404999,...,6.966730,0.0,0.0,0.0,6.296949,0.0,0.0,2.191186,3.016886,0.0
4,0.0,0.0,0.000000,0.0,4.544496,0.0,0.0,0.000000,6.380806,2.665438,...,5.008911,0.0,0.0,0.0,9.404757,0.0,0.0,0.000000,0.000000,0.0

In [62]:
#content_embeddings = pd.read_pickle("autoencodercon_embeddings_3.pkl")
content_embeddings = pd.read_pickle("autoencodercont3_embeddings.pkl")
print(content_embeddings.shape)
content_embeddings= pd.DataFrame(content_embeddings)
content_embeddings.head()

(10677, 100)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.0,0.0,0.0,0.0,0.924879,0.000000,0.006536,0.0,0.000000,0.0,...,0.732923,0.0,0.073787,0.0,0.000000,0.135765,0.0,0.0,0.0,0.000000
1,0.0,0.0,0.0,0.0,0.000000,0.132794,0.356823,0.0,0.033746,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.201291,0.0,0.0,0.0,0.549948
2,0.0,0.0,0.0,0.0,0.070235,0.000000,0.075572,0.0,0.000000,0.0,...,0.144563,0.0,0.031774,0.0,0.050217,0.078915,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.0,0.0,0.003593,0.000000,0.024650,0.0,0.000000,0.0,...,0.231564,0.0,0.085713,0.0,0.204439,0.108164,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.0,0.0,0.054179,0.000000,0.066488,0.0,0.000000,0.0,...,0.014557,0.0,0.000000,0.0,0.293759,0.087323,0.0,0.0,0.0,0.000000

In [87]:
hy_embeddings = pd.read_pickle("autoencoderhy_embeddings.pkl")
print(hy_embeddings.shape)
hy_embeddings= pd.DataFrame(hy_embeddings)
hy_embeddings.head()

(10677, 100)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.0,0.120069,1.386228,0.0,0.0,0.0,0.0,0.0,0.283937,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.656815
1,0.0,5.585257,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,1.629687,0.0,0.0,0.0,0.000000
2,0.0,0.766058,5.320053,0.0,0.0,0.0,0.0,0.0,8.645866,0.0,...,0.0,0.0,0.0,0.0,0.0,3.871958,0.0,0.0,0.0,5.889831
3,0.0,6.671350,1.338027,0.0,0.0,0.0,0.0,0.0,2.266763,0.0,...,0.0,0.0,0.0,0.0,0.0,3.361939,0.0,0.0,0.0,0.000000
4,0.0,9.505838,4.597833,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,4.319620,0.0,0.0,0.0,0.716826

In [16]:
movies = pd.read_csv("movies1.dat", sep='::', header=None, engine='python', encoding='latin-1')
movies.columns=['movieId','title','genres']
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [17]:
ratings = pd.read_csv("ratings1.dat", sep='::', header=None, engine='python', encoding='latin-1')
ratings.columns=['userId','movieId', 'rating', 'timestamp']
ratings.head()

   userId  movieId  rating  timestamp
0       1      122     5.0  838985046
1       1      185     5.0  838983525
2       1      231     5.0  838983392
3       1      292     5.0  838983421
4       1      316     5.0  838983392

In [18]:
m_uniq = ratings.movieId.unique()
movie2idx = {o:i for i,o in enumerate(m_uniq)}

In [19]:
#movies = pd.read_csv("movies.dat", sep='::', header=None, engine='python', encoding='latin-1')
print("{} unique movies in movies.csv".format(len(movies.movieId.unique())))

#ratings = pd.read_csv("ratings.dat", sep='::', header=None, engine='python', encoding='latin-1')
print("{} unique movies in ratings.csv".format(len(ratings.movieId.unique())))

movies = pd.merge(movies, ratings, on="movieId", how="inner")
movies.movieId = movies.movieId.apply(lambda x: movie2idx[x])

#get popularity
popularity = pd.DataFrame(movies[['userId', 'title', 'movieId']].groupby(['title', 'movieId']).agg(['count']))
popularity.reset_index(inplace=True)
popularity.columns = ['title', 'movieId', 'ratings_count']
popularity.sort_values('ratings_count', ascending=False, inplace=True)
movies = pd.merge(popularity[['movieId', 'ratings_count']], movies, on='movieId')
movies.reset_index(inplace=True)

#get average ratings
average_ratings = pd.DataFrame(movies[['rating', 'title', 'movieId']].groupby(['title', 'movieId']).agg(['mean']))
average_ratings.reset_index(inplace=True)
average_ratings.columns = ['title', 'movieId', 'avg_rating']
movies = pd.merge(average_ratings[['movieId', 'avg_rating']], movies, on='movieId')
movies.reset_index(inplace=True)


movies = movies[['movieId', 'title', 'genres', 'ratings_count', 'avg_rating']]
movies.drop_duplicates(inplace=True)
print("{} unique movies in embeddings".format(len(movies.movieId.unique())))
movies.set_index('movieId', inplace=True, drop=True)
movies.sort_index(ascending=True, inplace=True)
print(movies.shape)
movies.head(5)

10681 unique movies in movies.csv
10677 unique movies in ratings.csv
10677 unique movies in embeddings
(10677, 4)

,title,genres,ratings_count,avg_rating
movieId,,,,
0,Boomerang (1992),Comedy|Romance,2412,2.861318
1,"Net, The (1995)",Action|Crime|Thriller,14975,3.125209
2,Dumb & Dumber (1994),Comedy,17851,2.936950
3,Outbreak (1995),Action|Drama|Sci-Fi|Thriller,16075,3.418414
4,Stargate (1994),Action|Adventure|Sci-Fi,18925,3.349353

In [20]:
from similarity import SimilarityPredictions

In [21]:
def lookup_movie_id_by_title(movie_title):
    return movies[movies.title.str.contains(movie_title)]

In [276]:
lookup_movie_id_by_title("Dead")

,title,genres,ratings_count,avg_rating
movieId,,,,
43,Dead Poets Society (1989),Drama,10604,3.887873
264,Dead Again (1991),Mystery|Romance|Thriller,2388,3.749581
307,Dead Man Walking (1995),Crime|Drama,12689,3.957680
330,"Quick and the Dead, The (1995)",Action|Adventure|Western,3979,3.040839
396,Drop Dead Fred (1991),Comedy|Fantasy,1848,2.578193
409,Evil Dead II (Dead by Dawn) (1987),Action|Comedy|Fantasy|Horror,3952,3.792637
493,Freddy's Dead: The Final Nightmare (1991),Horror,808,2.217203
618,Bringing Out the Dead (1999),Drama|Horror,2190,3.140183
662,Waking the Dead (2000),Drama|Thriller,360,3.104167
690,F/X2 (a.k.a. F/X 2 - The Deadly Art of Illusio...,Action|Crime|Thriller,607,2.660626
720,Don't Tell Mom the Babysitter's Dead (1991),Comedy,1124,2.627669
724,"Evil Dead, The (1981)",Fantasy|Horror,2532,3.661137
935,Dawn of the Dead (2004),Action|Drama|Horror|Thriller,1742,3.553961
979,Shaun of the Dead (2004),Comedy|Horror|Romance,3964,3.892533
1004,Dead Presidents (1995),Action|Crime|Drama,1547,3.039431
1060,Dead Ringers (1988),Drama|Horror|Thriller,1038,3.490848
1362,Dead Calm (1989),Thriller,1989,3.632479
1486,Dracula: Dead and Loving It (1995),Comedy|Horror,2262,2.567197
1610,Night of the Living Dead (1968),Horror|Sci-Fi|Thriller,4202,3.628986
1793,Better Off Dead... (1985),Comedy|Romance,3085,3.853809
1990,Dead Man (1995),Drama|Mystery|Western,1712,3.898072
2592,Dead Men Don't Wear Plaid (1982),Comedy|Crime|Thriller,1613,3.284873
2651,"Horror Hotel (a.k.a. City of the Dead, The) (1...",Horror|Thriller,43,2.965116
2753,Pirates of the Caribbean: Dead Man's Chest (2006),Action|Adventure|Comedy|Fantasy,3403,3.450338
2770,Rosencrantz and Guildenstern Are Dead (1990),Comedy|Drama,2428,3.973847
3028,"Dead Zone, The (1983)",Drama|Fantasy|Horror|Thriller,1971,3.656266
3193,"Walking Dead, The (1995)",Drama|War,196,2.826531
3245,"Dead Pool, The (1988)",Action|Crime|Thriller,527,3.196395
3343,Dawn of the Dead (1978),Action|Drama|Horror,1223,3.800899
3467,Deadtime Stories (1987),Horror,45,1.888889
...,...,...,...,...
7526,"Bang, Bang, You're Dead (2002)",Drama,209,3.827751
7623,Spirits of the Dead (Histoires extraordinaires...,Horror|Mystery,81,2.956790
7654,Half Past Dead (2002),Action|Crime|Thriller,109,2.243119
7663,On Deadly Ground (1994),Action|Adventure|Thriller,130,1.892308
8218,Deadly Friend (1986),Horror,138,2.076087
8223,Tough and Deadly (1995),Action|Drama|Thriller,21,2.166667
8263,Dead of Winter (1987),Horror|Thriller,82,3.054878
8330,Dead Ringer (1964),Drama|Thriller,18,3.333333
8474,Dead Fury (2008),Action|Animation|Comedy|Horror,2,1.500000
8545,I'll Sleep When I'm Dead (2003),Crime|Drama,108,3.027778
8621,"Living Dead Girl, The (La Morte Vivante) (1982)",Horror,20,2.625000
8642,Legion of the Dead (2000),Comedy|Horror,9,1.611111
8684,Zombie (a.k.a. Zombie 2: The Dead Are Among Us...,Horror,140,3.228571
8716,Gun Crazy (a.k.a. Deadly Is the Female) (1949),Crime|Drama|Film-Noir,85,3.758824
8789,Ed and His Dead Mother (1993),Comedy|Horror,38,2.934211
8796,Nine Dead Gay Guys (2003),Comedy|Crime,11,3.090909
8875,Dead Birds (2004),Horror|War|Western,3,3.333333
8892,Diary of the Dead (2007),Fantasy|Horror|Thriller,36,2.958333
8930,Night of the Zombies (a.k.a. Hell of the Livin...,Action|Horror|Thriller,31,2.080645
9122,"Grateful Dead Movie, The (1977)",Documentary|Musical,29,3.137931
9135,Nightmare City (a.k.a. City of the Walking Dea...,Action|Horror,25,2.440000
9320,"First Deadly Sin, The (1980)",Thriller,24,3.083333
9394,Dead End (1937),Crime|Drama,42,3.678571
9576,Night of the Zombies (a.k.a. Batallion of the ...,Horror|Sci-Fi,26,2.057692
9691,Wrong Is Right (a.k.a. The Man With the Deadly...,Drama|Thriller,7,3.000000
9926,P.S. Your Cat is Dead (2002),Comedy,5,2.600000
9936,Dead Leaves (2004),Action|Adventure|Animation|Comedy|Sci-Fi,4,3.625000
10327,Dead Man's Letters (Pisma myortvogo cheloveka)...,Drama|Film-Noir,1,3.000000
10544,Dirty Dozen: The Deadly Mission (1987),Action|Drama|War,2,2.000000
10606,"Deadly Companions, The (1961)",Western,1,4.000000

In [23]:
cind=1450
lotr=798
note=67

In [281]:
#sm=4929
#sm=3363
#sm=1543
sm=724
#sm=618

In [11]:
def get_detailed_recs(movie_id, embeddings, file_path):
    #get similar movies
    sim_model = SimilarityPredictions(embeddings, similarity_metric="cosine")
    output = sim_model.predict_similar_items(seed_item=movie_id, n=20)
    similar_movies = pd.DataFrame(output)
    similar_movies.set_index('item_id', inplace=True)
    sim_df = pd.merge(movies, similar_movies, left_index=True, right_index=True)
    sim_df.sort_values('similarity_score', ascending=False, inplace=True)
    
    #save recs locally
    sim_df.head(20).to_csv(file_path, index=False, header=True)
    return sim_df.head(20)

In [282]:
get_detailed_recs(sm, content_embeddings, 'content_recs_cind.csv')

,title,genres,ratings_count,avg_rating,similarity_score
724,"Evil Dead, The (1981)",Fantasy|Horror,2532,3.661137,1.000000
409,Evil Dead II (Dead by Dawn) (1987),Action|Comedy|Fantasy|Horror,3952,3.792637,0.846004
1610,Night of the Living Dead (1968),Horror|Sci-Fi|Thriller,4202,3.628986,0.836847
3034,"Mummy, The (1959)",Horror,373,3.126005,0.831568
7298,Class of Nuke 'Em High (1986),Comedy|Horror,177,2.276836,0.830757
7774,Citizen Toxie: The Toxic Avenger IV (2000),Action|Comedy|Horror,36,3.027778,0.813691
1155,"Toxic Avenger, The (1985)",Comedy|Horror,654,2.724006,0.811526
3666,Dead Alive (Braindead) (1992),Comedy|Fantasy|Horror,1284,3.671729,0.807302
977,Resident Evil: Apocalypse (2004),Action|Horror|Sci-Fi|Thriller,1008,2.879960,0.799041
4180,Quills (2000),Drama|Thriller,1516,3.515501,0.797696
2951,Thirteen Ghosts (a.k.a. Thir13en Ghosts) (2001),Horror|Thriller,942,2.563163,0.794939
243,Event Horizon (1997),Horror|Sci-Fi|Thriller,3397,2.766412,0.789491
4872,BloodRayne (2005),Action|Fantasy|Horror,161,1.506211,0.785847
2063,"Amityville Horror, The (1979)",Horror,1680,2.919345,0.785501
2937,Phantasm (1979),Horror|Sci-Fi,1107,3.172087,0.784892
847,Dog Soldiers (2002),Action|Horror,459,3.326797,0.779696
3448,Halloween II (1981),Horror,926,2.705724,0.778767
1386,From Hell (2001),Crime|Horror|Mystery|Thriller,2247,3.314642,0.775931
405,Army of Darkness (1993),Action|Adventure|Comedy|Fantasy|Horror,6768,3.722370,0.773613
3217,Jaws 3-D (1983),Action|Horror,1159,1.798102,0.773244

In [283]:
get_detailed_recs(sm, collaborative_embeddings, 'collaborative_recs_cind.csv')

,title,genres,ratings_count,avg_rating,similarity_score
724,"Evil Dead, The (1981)",Fantasy|Horror,2532,3.661137,1.000000
409,Evil Dead II (Dead by Dawn) (1987),Action|Comedy|Fantasy|Horror,3952,3.792637,0.922419
3343,Dawn of the Dead (1978),Action|Drama|Horror,1223,3.800899,0.916275
2307,Ring (Ringu) (1998),Horror|Mystery|Thriller,1301,3.617602,0.914258
2072,Hellraiser (1987),Horror,1309,3.294500,0.913229
3666,Dead Alive (Braindead) (1992),Comedy|Fantasy|Horror,1284,3.671729,0.911045
3713,Tremors (1990),Comedy|Horror|Sci-Fi,1615,3.328793,0.893879
405,Army of Darkness (1993),Action|Adventure|Comedy|Fantasy|Horror,6768,3.722370,0.888798
3716,Day of the Dead (1985),Horror|Thriller,502,3.446215,0.888200
1315,Bad Taste (1987),Comedy|Horror|Sci-Fi,1050,3.508095,0.885895
909,Darkman (1990),Action|Crime|Horror|Sci-Fi|Thriller,673,3.071322,0.885173
5337,Scanners (1981),Horror|Sci-Fi|Thriller,500,3.201000,0.883992
5035,"Return of the Living Dead, The (1985)",Comedy|Horror|Sci-Fi,560,3.289286,0.883571
2808,They Live (1988),Action|Sci-Fi|Thriller,676,3.474112,0.876562
1140,"Texas Chainsaw Massacre, The (1974)",Horror,1587,3.191556,0.867433
2845,Videodrome (1983),Fantasy|Horror|Sci-Fi|Thriller,704,3.643466,0.863866
295,Top Secret! (1984),Comedy,1341,3.552573,0.861341
3743,"Hitcher, The (1986)",Action|Horror|Thriller,372,3.471774,0.855931
2073,Hellbound: Hellraiser II (1988),Horror,730,2.930137,0.853614
2227,"Wicker Man, The (1973)",Horror|Musical|Mystery|Thriller,753,3.671315,0.848440

In [284]:
get_detailed_recs(sm, hy_embeddings, 'hy_recs_cind.csv')

,title,genres,ratings_count,avg_rating,similarity_score
724,"Evil Dead, The (1981)",Fantasy|Horror,2532,3.661137,1.000000
3718,Bubba Ho-tep (2002),Comedy|Horror,1004,3.555279,0.902878
2072,Hellraiser (1987),Horror,1309,3.294500,0.893269
409,Evil Dead II (Dead by Dawn) (1987),Action|Comedy|Fantasy|Horror,3952,3.792637,0.881886
5035,"Return of the Living Dead, The (1985)",Comedy|Horror|Sci-Fi,560,3.289286,0.878855
3713,Tremors (1990),Comedy|Horror|Sci-Fi,1615,3.328793,0.876206
909,Darkman (1990),Action|Crime|Horror|Sci-Fi|Thriller,673,3.071322,0.862098
768,Meet the Feebles (1989),Animation|Comedy|Musical,463,3.353132,0.862033
3343,Dawn of the Dead (1978),Action|Drama|Horror,1223,3.800899,0.860932
3666,Dead Alive (Braindead) (1992),Comedy|Fantasy|Horror,1284,3.671729,0.860750
2307,Ring (Ringu) (1998),Horror|Mystery|Thriller,1301,3.617602,0.860570
2808,They Live (1988),Action|Sci-Fi|Thriller,676,3.474112,0.856908
3716,Day of the Dead (1985),Horror|Thriller,502,3.446215,0.854655
1907,Enter the Dragon (1973),Action|Crime,1303,3.772064,0.843392
5337,Scanners (1981),Horror|Sci-Fi|Thriller,500,3.201000,0.842827
935,Dawn of the Dead (2004),Action|Drama|Horror|Thriller,1742,3.553961,0.837695
1155,"Toxic Avenger, The (1985)",Comedy|Horror,654,2.724006,0.837688
1315,Bad Taste (1987),Comedy|Horror|Sci-Fi,1050,3.508095,0.836101
2073,Hellbound: Hellraiser II (1988),Horror,730,2.930137,0.835086
295,Top Secret! (1984),Comedy,1341,3.552573,0.833629